.leftParagraph {
    display: flex;
    margin: 3rem;
}

.leftParagraph .text {
    width: 45%;
    display: inline-block;
}

.leftParagraph .text ul {
    list-style: none;
}

.leftParagraph .text ul li:before {
    content: '✓ ';
}

.leftParagraph .image {
    width: 50%;
    display: inline-block;
}

.leftParagraph .image img {
    width: 100%;
    max-height: 450px;
    border-radius: 3%;
}

@media (max-width: 768px) {

    .leftParagraph {
        display: block;
        margin: 1rem;
        text-align: center;
    }

    .leftParagraph .text {
        width: 100%;
        margin-bottom: 10px;
        padding: 1%;
    }

    .leftParagraph .image {
        width: 100%;
        margin-bottom: 10px;
    }
}