body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #696969;
  background-image: url("https://lh3.googleusercontent.com/pw/AIL4fc_Jszi3f8cCP_FGGX7xyup7d7THoDA7t7HLiICWRYErXBp-oFkiapQ4ENDrTW2T-IzG_FGhVuTLAyCkNoDVYep7yWQaayPBqSf7-lN8WkzKE-PzQGsv1ZzaVop7yiukiBGAXUyFuBcM_N-D92oANejJsZJkEFGwJ7uNEX2IvwDE-gsDOrWC40kMi1tVopTs_WHZdJXD8bEVBniM55pCLrka-YY-hD6z2jbMLiy3mkQWyWF_oPuhIK4hp-ZSTs1wU-tau6lGqMAyb85H4dxVinN4bGcJB5MXgt2sL_jZdKvoLUjsETWBKewIxcr_2BUlxnCrSPJNtlv17EbxmT7snXecK5vSRXogC08aWiDkSEfYqd-wwuXozfBQNxCCJWmWZz78wNAwY6fHYO62l0aoyfn_eOQ10-4JrT9xiE6ABxLoJp1mZywVogm8B0EQMv_7Vv1yuoNbXW9Dbu5_qwJfnDjw-BfdTJCHTsaUoVTSn6m2tsHsz004fMg_z3a9U-YzMtsFrx4MamgEb0Lw3eYwbRjttIO6mksOtLesmFym5thcLukPFdmPQ1lV1bt1PFfZWJqHNzWWXg57HXTcbPs9y2qObyGP-Y0nZjP1FCDZaj2jLL_rNdYhliuAWLD2trfL8jXzdNL_vEWnpPYa3qw4Q2EMJeXuiWgEeWLxo08h-ZMPV1YkE4iWcML8WzI4GAl6VlE-u7ScUHVq-3-MCGIDW2gcgUrJqCDAGUy-CYuVJIaP1QLZ6qhPY87yWDli1jmiQuT-kMNO1D9r3mvqqd0lCJO9NYaQr0Dth27GuccVX4dJnE3wI6ryiGik9MMlonUPc94Zp3fQkgptN47Gb3BSEDGpODvk8tOgu9dga5Wij9tVk5XG1eVRrMDo-nmdO7UR4UM0lvfMQlPghsOjOZmR5Pj4=w1305-h905-s-no?authuser=0");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
